@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "PokemonFR";
  src: url('./assets/pfr.ttf');
}


* {
  box-sizing: border-box;
}

body {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fca5a5;
}